 .menuDashboard {
    background: #212121;
}
.menuDashboard a {
    background-color: #212121;
}

.menuDashboard a:not(:first-child):hover {
    background-color: #454444;
}


.divData {
    background-color: #f2f2f2;
}

.dashboardMenu h1 {
    color: #6d6c6c;
    padding: 3px;
}

.dashboardMenu li {
    color: #888;
    padding: 3px;
    padding-left: 5px;
}
.dashboardMenu li:hover {
    color: #444444;

    background-color: #f7f7f7;
}

.dashboardMenu a {
    text-decoration: none;

}


