/* Carrousel Valoraciones */

.containerSwiper{
    width: 80%;
    height: 100%;
    position: relative;
}

.mySwiper {
    align-items: center;
}

.swiper-slide {
    margin-top: 7%;
    display: contents;
    align-items: center;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    color: #d38a2e !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #d38a2e !important;

    font-size: 32px;
}

.pintada {
    background-color: #d38a2e;
}

.pintada:hover {
    background-color: #b97828;

}

.pintadaEstrella {
    color: #ffc107 !important;
}

.review {
    margin-bottom: 5%;
}

