.form__group {
    position: relative;
    padding: 15px 10px;
}
.form__field {
    width: 100%;
    border: 0;
    border-bottom: 3px solid black;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: -10px;
    font-weight: bold;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: black;
}

.form__field:focus {
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, black, #d38a2e);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.form-login input {
    padding: 10px;
    padding-left: 15px;
}

.form-login input:focus {
    border: 5px solid;
    border-color: gray;
    --tw-ring-color: transparent;
}

.btn-forms {
    background: #d38a2e !important;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}

.btn-forms:hover {
    background-color: #c57a1d; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #d38a2e; /*Color de fondo*/
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.btn-flotante:hover {
    background-color: #c57a1d; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

/*  heart */
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
        no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

/* Button cart */
.cart-button {
    width: 100%;
    background-color: #d38a2e;
    color: white;
    font-weight: bold;
}
.cart-button:hover {
    background-color: #c57a1d;
}
/* Desplegables */


.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
}
