.d1 {
    display: inline-block;
    background: gray;
    padding: 5px;
}

.svgChecked {
    margin-top: 50px;
    border: 1px solid transparent;
}

#path2 path {
    fill: none;
    stroke-width: 3px;
    stroke: #212121;
}

.a1,
.a3,
.check {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}

.my-order-alertbutton-class {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
    color: #d38a2e;
    border: 0px;
}

.my-order-alertbutton-class:focus {
    outline: none;
    box-shadow: none;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-3px);
    }
}

.translateEffect:hover .svgEffect {
    animation: bounce 0.8s infinite;
}
